---
import NoteLayout from '@layouts/NoteLayout.astro'
import { unique } from '@scripts/utils/unique'

const rootPageName = 'home/'

export const allFiles = Object.keys(
  import.meta.glob<Record<string, any>>(
    ['./*.{astro,html,mdx,md}', './**/*.{astro,html,mdx,md}'],
    { eager: true, query: '?url' },
  ),
)

export function getStaticPaths() {
  const folders = unique(
    allFiles
      // Only folders
      .filter((path) => path.split('/').length > 2)
      // Remove files from routes
      .map((path) => path.replace(/^\.\/|\/[^\/]*$/g, ''))
      // Add each folder on the way
      .flatMap((folder) =>
        folder
          .split('/')
          .map((_, i, arr) => arr.slice(0, i + 1).join('/') + '/'),
      ),
  )

  return [
    ...folders.map((folder) => ({ params: { folder } })),
    { params: { folder: '' } },
  ]
}

const { folder } = Astro.params
const currentPath = folder ? `./${folder}/` : './'
const currentFolder = folder?.split('/').at(-1)

const title = folder ? currentFolder + '/' : rootPageName

const contents = allFiles.filter((path) => path.startsWith(currentPath))

const nextLevelFolders = new RegExp(
  `^${currentPath.replace(/\./g, '\\.')}([^/]+/)`,
)

const folders = unique(
  contents
    .filter((path) => path.replace(currentPath, '').split('/').length > 1)
    .map((path) => path.match(nextLevelFolders)?.[1])
    .filter(Boolean),
)

const pages = contents
  .filter((path) => path.replace(currentPath, '').split('/').length === 1)
  .map((path) => ({
    href: path.replace(/^\.(.+)\.[^.]+$/, '$1'),
    name: path.split('/').at(-1),
  }))
---

<NoteLayout {title}>
  <h1>{title}</h1>
  <ul class="entries">
    {
      folders.map((path) => (
        <li class="folder">
          <a href={path}>{path}</a>
        </li>
      ))
    }
    {folders.length > 0 && pages.length > 0 && <hr />}
    {
      pages.map(({ href, name }) => (
        <li>
          <a href={href}>{name}</a>
        </li>
      ))
    }
  </ul>
</NoteLayout>
<script>
  import { initFolderNavigation } from '@scripts/navigate'
  initFolderNavigation()
</script>
