---
import Layout from '@layouts/Layout.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

const { frontmatter, headerConfig = {} } = Astro.props
const isRoot = Astro.url.pathname === '/'
const {
  showCopy,
  showDownload,
  backUrl = isRoot ? undefined : '../',
} = headerConfig
---

<Layout title={frontmatter?.title} simpleTitle={frontmatter?.simpleTitle}>
  {
    !frontmatter?.hideHeader && (
      <Header
        {backUrl}
        {showCopy}
        {showDownload}
        hideBack={frontmatter?.hideBack}
      />
    )
  }
  <div class="blocks">
    <slot />
  </div>
  <Footer />
</Layout>
